<br>
<br>
<br>
<div class="container">
  <div class="search-container center">
    <p>Enter an address, city or postcode below</p>
    <%= render "shared/form_dog_show" %>
  </div>
  <% if @dogs.count != 0 %>
    <% if params[:query] %>
      <p>There are <%= @dogs.count %> dogs within 10 miles</p>
    <% end %>
    <div class="cards-and-map">
      <div class="cards">
        <% @dogs.each do |dog| %>
          <%= link_to dog_path(dog.id) do %>
            <%= render "shared/card_show", dog: dog %>
          <% end %>
        <% end %>
      </div>

      <div id="map"
         style="width: 100%; height: 270px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% else %>
    <p>No results found within 10 miles, search another location</p>
  <% end %>
</div>
