<br>
<br>
<br>
<div class="container">
  <div class="login">
    <h2>Your new dog</h2>
    <%= simple_form_for([current_user, @dog]) do |f| %>
      <%= f.input :name %>
      <%= f.input :bio %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :hourly_rate %>
      <%= f.input :photo, as: :file %>
      <%= f.input :insurance %>
      <%= f.submit "Add dog", class: "btn" %>
  <% end %>
  </div>
</div>


<!-- BA added insurance and about me inputs -->
