<br>
<br>
<br>
<div class="container" style="height:80vh;">
  <div class="login" style="width:300px;">
    <h2>Your new dog</h2>
    <%= simple_form_for([current_user, @dog]) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :bio, label: 'About Me' %>
      <%= f.input :insurance %>
      <%= f.input :hourly_rate %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
      <%= f.submit "Submit dog", class: "btn" %>
    </div>
  <% end %>
  </div>
</div>


<!-- BA added insurance and about me inputs -->
