<br>
<br>
<br>
<div class="container">
  <h1 class="mt-3 text-center">All about <%= @dog.name %></h1>
  <h5 class="m-5 text-center">Meet <%= @dog.name %>, a <%= @dog.age %> year old <%= @dog.breed %>.</h5>
    <div class="dog-show-box">

      <div class="dog-show-image">
        <% if @dog.photo.attached? %>
          <%= cl_image_tag @dog.photo.key, height: 400, width: 600, crop: :fill %>
        <% end %>
      </div>
      <div class="dog-show-text">
        <h2 class="text-center m-3">More info</h2>

         <% if @dog.bio %>
           <h5>About</h5>
           <p><%= @dog.bio %></p>
          <% end %>
        <% if @dog.user.first_name %>
          <h5>Owner</h5>
          <p><%= @dog.user.first_name %> <%= @dog.user.last_name %>  </p>
        <% end %>
        <h5>Insurance</h5>
        <p><%= @dog.insurance ? "Yes" : "No" %></p>
        <% if current_user.id != @dog.user.id %>
          <%= link_to "Book this dog!", new_dog_bookings_path(@dog) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
