<br>
<br>
<br>
<div class="container">
  <h1 class="mt-3 text-center">All about <%= @dog.name %></h1>
  <h5 class="m-4 text-center">Meet <%= @dog.name %>, a <%= @dog.age %> year old <%= @dog.breed %>.</h5>
    <div class="dog-show-box">

      <div class="dog-show-image">
        <% if @dog.photo.attached? %>
          <%= cl_image_tag @dog.photo.key, height: 350, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="dog-show-text">
        <h5>£<%= @dog.hourly_rate.round %> per hour</h2>
        <br>
         <% if @dog.bio %>
           <h5>Bio</h5>
           <p><%= @dog.bio %></p>
          <% end %>
        <% if @dog.user.first_name %>
          <h5>Owner</h5>
          <%= link_to "#{@dog.user.first_name} #{@dog.user.last_name}", user_path(@dog.user) %> <br><br>
        <% end %>
        <h5>Insurance</h5>
        <p><%= @dog.insurance ? "Yes" : "No" %></p>
        <% if current_user.id != @dog.user.id %>
          <%= link_to "Hire #{@dog.name}!", new_dog_bookings_path(@dog) %>
        <% else %>
          <%= link_to "Edit", edit_user_dog_path(current_user, @dog) %>
          <span> OR </span>
          <%= link_to "Delete",
             dog_path(@dog),
            method: :delete,
            data: { confirm: "Are you sure?" }%> <span>?</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
