<div class="container mt-3">
  <h1 class="text-center">Update my details</h1>
  <div class="w-50 d-box mx-auto mt-5">
  
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :bio, label: 'About Me' %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn" %>
  <% end %>
  </div>
</div>