<%= render "shared/bio" %>

<div class="card_actions">
    <div class="cards profile-cards">
    <% @user.dogs.each do |dog| %>
      <%= link_to dog_path(dog.id) do %>
        <%= render "shared/card_show", dog: dog %>
      <% end %>
    <% end %>
  </div>
  <div class="profile_actions">
    <h3>My bookings:</h3>
    <ul>
      <% @bookings.each do |booking| %>
        <%= "Booking with #{booking.dog.name} from #{booking[:start]} until #{booking[:end]}. Location: #{booking[:location]}" %>
      <% end %>
    </ul>
    <%= render "shared/profile_actions" %>
  </div>
</div>
