<div class="card-product">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 400, width: 600, crop: :fill, class: "large-avatar" %>
  <% end %>
  <div class="card-product-infos">
    <div class="username">
      <%= @user.alias_name %>
    </div>
    <div class="bio">
      <p> <%= @user.about_me %> </p>
    </div>
    <div class="address">
      <p> <%=@user.address %> </p>
    </div>
    <div class="edit">
      <%= link_to "Edit my profile", edit_user_registration_path %>
    </div>
  </div>
</div>
