<div class="card-product">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 400, width: 600, crop: :fill, class: "large-avatar" %>
  <% end %>
  <div class="card-product-infos">
    <div class="username">
      <%= @user.email %>
    </div>
    <div class="bio">
      <p><%= "Hello! I am" %>
      <%= @user.email %> <br>
      <%= "These are my dogs." %>
      <%= "They love being taken on walks" %>
      </p>
    </div>
  </div>
</div>


