<div class="card dog-booking-card">
  <p><%= cl_image_tag(booking.dog.photo.key, class: "avatar m-3") %></p>
  <p><%= booking.user.first_name %><%= booking.user.last_name %></p>
  <p>wants to book</p>
   <strong><%= booking.dog.name %></strong>
  <p><%= booking.start.strftime("%d/%m/%y") %></p>     
    
  <% if !booking.confirmation %>
      <%= link_to "Confirm", user_path(current_user), class: "btn m-3" %>
  <% end %>     
</div>